<a href="https://colab.research.google.com/github/2303a51355/_10_Python-for-DataScience/blob/main/LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data_products = {
    'product_id': [1, 2, 3, 4],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Monitor'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [1000, 700, 400, 150]
}
products = pd.DataFrame(data_products)

data_sales = {
    'sale_id': [101, 102, 103, 104, 105, 106],
    'product_id': [1, 2, 2, 3, 4, 4],
    'quantity': [2, 1, 2, 3, 5, 1],
    'sale_date': ['2025-09-01', '2025-09-02', '2025-09-03', '2025-09-01', '2025-09-03', '2025-09-04']
}
sales = pd.DataFrame(data_sales)

merged_inner = pd.merge(sales, products, on='product_id', how='inner')
merged_outer = pd.merge(sales, products, on='product_id', how='outer')

# Compute statistics
merged_inner['revenue'] = merged_inner['quantity'] * merged_inner['price']
total_revenue = merged_inner['revenue'].sum()
avg_price = products['price'].mean()

# Product-wise sales (total revenue per product)
product_sales = merged_inner.groupby(['product_id', 'product_name'])['revenue'].sum().reset_index()
# Category-wise revenue
category_sales = merged_inner.groupby('category')['revenue'].sum().reset_index()
best_selling_category = category_sales.loc[category_sales['revenue'].idxmax()]

print('Merged Inner Join:')
print(merged_inner.head())
print('\nMerged Outer Join:')
print(merged_outer.head())
print('\nProduct-wise Sales:')
print(product_sales)
print('\nCategory-wise Sales:')
print(category_sales)
print('\nTotal Revenue:', total_revenue)
print('Average Price:', avg_price)
print('Best Selling Category:', best_selling_category['category'])

Merged Inner Join:
   sale_id  product_id  quantity   sale_date product_name     category  price  \
0      101           1         2  2025-09-01       Laptop  Electronics   1000
1      102           2         1  2025-09-02   Smartphone  Electronics    700
2      103           2         2  2025-09-03   Smartphone  Electronics    700
3      104           3         3  2025-09-01       Tablet  Electronics    400
4      105           4         5  2025-09-03      Monitor  Accessories    150

   revenue
0     2000
1      700
2     1400
3     1200
4      750

Merged Outer Join:
   sale_id  product_id  quantity   sale_date product_name     category  price
0      101           1         2  2025-09-01       Laptop  Electronics   1000
1      102           2         1  2025-09-02   Smartphone  Electronics    700
2      103           2         2  2025-09-03   Smartphone  Electronics    700
3      104           3         3  2025-09-01       Tablet  Electronics    400
4      105           4         5  2025-09-03      Monitor  Accessories    150

Product-wise Sales:
   product_id product_name  revenue
0           1       Laptop     2000
1           2   Smartphone     2100
2           3       Tablet     1200
3           4      Monitor      900

Category-wise Sales:
      category  revenue
0  Accessories      900
1  Electronics     5300

Total Revenue: 6200
Average Price: 562.5
Best Selling Category: Electronics

In [2]:
import pandas as pd

teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['Math', 'Science', 'Math', 'Literature']
})

courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106],
    'course_name': [
        'Algebra', 'Biology', 'Geometry', 'Chemistry', 'Literature 101', 'Poetry'
    ],
    'teacher_id': [1, 2, 1, 2, 4, 4],
    'credit_hours': [3, 4, 3, 4, 2, 2]
})


merged_inner = pd.merge(teachers, courses, on='teacher_id', how='inner')
merged_left = pd.merge(teachers, courses, on='teacher_id', how='left')

# Average courses per teacher
courses_per_teacher = merged_inner.groupby('teacher_id')['course_id'].nunique().reset_index()
avg_courses = courses_per_teacher['course_id'].mean()

# Group by department, calculate total workload (sum of credit_hours)
dept_workload = merged_inner.groupby('department')['credit_hours'].sum().reset_index()

print("=== Inner Join (matched teachers/courses) ===")
print(merged_inner)
print("\n=== Left Join (all teachers, all courses if matched) ===")
print(merged_left)
print(f"\nAverage courses per teacher: {avg_courses:.2f}")
print("\nDepartment-wise Total Workload:")
print(dept_workload)

=== Inner Join (matched teachers/courses) ===
   teacher_id teacher_name  department  course_id     course_name  \
0           1        Alice        Math        101         Algebra
1           1        Alice        Math        103        Geometry
2           2          Bob     Science        102         Biology
3           2          Bob     Science        104       Chemistry
4           4        David  Literature        105  Literature 101
5           4        David  Literature        106          Poetry

   credit_hours
0             3
1             3
2             4
3             4
4             2
5             2

=== Left Join (all teachers, all courses if matched) ===
   teacher_id teacher_name  department  course_id     course_name  \
0           1        Alice        Math      101.0         Algebra
1           1        Alice        Math      103.0        Geometry
2           2          Bob     Science      102.0         Biology
3           2          Bob     Science      104.0       Chemistry
4           3      Charlie        Math        NaN             NaN
5           4        David  Literature      105.0  Literature 101
6           4        David  Literature      106.0          Poetry

   credit_hours
0           3.0
1           3.0
2           4.0
3           4.0
4           NaN
5           2.0
6           2.0

Average courses per teacher: 2.00

Department-wise Total Workload:
   department  credit_hours
0  Literature             4
1        Math             6
2     Science             8